* {
    outline: solid blue 1px;
    font-family:Arial, Helvetica, sans-serif ;
}

h4 {
    margin: 0;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.info-bar h3 {
    height: 0;
}

h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.dashboard-layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2
}

.sidebar > nav {
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

/* main wraps everything EXCLUDING the sidebar */

.main {
    grid-column: 2 / -1;
    grid-row: 1;
    display: grid;
    /* height based on tob bar content size, 1fr tells everything else to use up the remaining space*/
    grid-template-rows: auto 1fr;
    height: 100%;
}

.top-bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.user-info {
    grid-column: 1;
    grid-row: 2
}

.btns-right {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    gap: 3rem;
}

/* main-content wraps the PROJECT grid and the project tiles */

.main-content {
    display: grid;
    height: 100%;
    grid-template-columns: minmax(0, 3fr) minmax(260px, 1fr);
    grid-template-rows: 3rem 1fr;
}

.projects {
    padding: 1rem;
    grid-row: 2;
}

.project-grid {
    max-width: 100%;
    justify-content: start;
    display: grid;
    grid-template-columns: repeat(2, minmax(175px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    padding: 1rem;
}

.project-card {
  background: white;
  border-radius: 3px;
  padding: clamp(0.5rem, 1vw, 1rem);
  height: 85%;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding-top: 1rem;
}


/* announcements and trending aside */

.info-bar {
    display: grid;
    
}

.info-bar > section {
    font-size: clamp(0.2rem, 0.7rem, 1rem);
    padding: 1rem;
}

.announcements {
    display: flex;
    flex-direction: column;
    width: 12rem;
    align-self: flex-start

}

.trending {
    display: flex; 
    flex-direction: column;
    width: 12rem;
    align-self: flex-start;
}

.avatar {
    width: 3rem;
    height: 3rem;
}

.trending-user {
    display: flex;
    align-items: center;
    gap: 2px;
    align-self: flex-start;
}


/* mobile breakpoint */

@media (max-width: 800px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}